<div class="contact-details" id="contactDetails1">
    <h2>Customer Details: {{ customer_id }}</h2>

    <p><strong>Company:</strong> {{ customer.company_name }}</p>
    <p><strong>Contact Name:</strong> {{ customer.contact_name }}</p>
    <p><strong>Contact Title:</strong> {{ customer.contact_title }}</p>
    <p><strong>Address:</strong> {{ customer.address }}</p>
    <p><strong>Country:</strong> {{ customer.country }}</p>
    <p><strong>City:</strong> {{ customer.city }}</p>
    <p><strong>Region:</strong> {{ customer.region }}</p>
    <p><strong>Zip:</strong> {{ customer.postal_code }}</p>
    <p><strong>Telephone:</strong> </p>
    <p><strong>Fax:</strong> </p>
</div>